* {
  font-family: "Jet Brains Nerd Font";
  font-size: 12px;
  padding: 0;
  margin: 0;
}

#waybar {
    background: rgba(0, 0, 0, 0.6);
}

#workspaces {
	background: transparent;
}


#workspaces button {
  color: #ffffff;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button.active {
/* #workspaces button.focused { */
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}


#workspaces button:hover {
  background: transparent;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}


#workspaces button.urgent {
  color: #ff0000;
  border-bottom: 2px solid #ff0000;
}


#workspaces button.urgent:hover {
  color: #ff0000;
  border-top: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
  border-right: 2px solid #ff0000;
  border-bottom: 2px solid #ff0000;
}







#battery, #cpu, #bluetooth, #memory, #network, #pulseaudio, #clock, #disk, #temperature, #custom-idle, #custom-kbd {
  color: #ffffff;
  margin-left: 7px;
  margin-right: 7px;
}



@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
