* {
  font-family: "Jet Brains Nerd Font";
}

#waybar {
    background: rgba(0,0,0,0);
}

#workspaces {
	border-radius: 10px 10px 0px 0px;
	background: #000000;
}

#workspaces button {
	color: #80ebed;
	border-radius: 2px;
}

#workspaces button.focused {
  color: #039dfc;
  border-bottom: 2px solid #039dfc;
}

#workspaces button:hover {
  border-color: #03fc5a;
  color: #03fc5a;
  background: #000000;
}

#workspaces button.urgent:hover {
  color: #03fc5a;
}

#workspaces button.urgent {
  border-bottom: 2px solid #fb4934;
  color: #fb4934;
}

#custom-kbd {
	border-radius: 10px 10px 0px 0px;
  margin: 0 10 0 10px;
  font-size: 12px;
  background: #000000;
  padding: 0 12 0 12px;
  min-width: 16px;
	color: #80ebed;
}


#battery, #cpu, #bluetooth, #memory, #network, #pulseaudio, #clock, #disk, #temperature, #custom-idle {
  margin: 3 5 3 5px;
  font-size: 12px;
  background: #000000;
  border-radius: 10px;
  padding: 0 10 0 10px;
}


#custom-idle {
  color: #6e4848;
}

#network, #bluetooth {
  color: #ffffff;
}

#pulseaudio {
  color: #c279f2;
}

#disk {
  color: #8be9fd;
}

#memory {
  color: #75fa85;
}

#cpu {
  color: #f1fa8c;
}

#temperature {
  color: #fab775;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
